* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    background: yellow;
    height: 500px;
}

.flex-item{
    width: 33.33%;
    color: #fff;
    background: red;
}

.flex-item:nth-child(3){
    font-size: 40px;
}