html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    width: 50rem; /* 500px */
    font-size: 0vw; /* 'vw' view port*/
    height: 100vh; /* 'vh' view height*/
    background: yellow;
    overflow: hidden;
}


.pai > div {
    width: 50%; /* porcentagem funciona no elemento pai*/
    height: 50rem;
    background: blue;
}

/* p {
    font-size: 2em; /* 'em' multiplica o tamanho elemento pelo elemento pai
} */

/* p {
    font-size: 1.6rem; /* 'rem' relativo ao root do 'html'  
} */

p {
    font-size: 2vmax;
}

.color-one {
    background: turquoise;
}

.color-two {
    background: violet;
}